# ---- OS files ----
.DS_Store
Thumbs.db

# ---- Editor / IDE ----
.vscode/
.idea/

# ---- Logs ----
*.log

# ---- Environment / secrets ----
.env
.env.*

# ---- Build / output ----
build/
dist/

# ---- Python ----
__pycache__/
*.pyc

# ---- Virtual environments ----
venv/
.venv/

# Python packaging
*.egg-info/
build/
dist/

# ---- Pytest ----
.pytest_cache/

# Paper
_paper/